<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Start Welcome area -->
<div class="all-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="/home"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li class="nav-item"><a href="/home" class="nav-link">Home</a>
                                            </li>
                                            <li class="nav-item"><a href="#" class="nav-link">About Us</a>
                                            </li>
                                            <li class="nav-item"><a href="#" class="nav-link">SDGs</a>
                                            </li>
                                            <li class="nav-item dropdown res-dis-nn">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Services <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                                <div role="menu" class="dropdown-menu animated zoomIn">
                                                    <a href="/addCourse" class="dropdown-item">Add Course</a>
                                                    <a href="/addLesson" class="dropdown-item">Add Lesson</a>
                                                    <a href="/addUnit" class="dropdown-item">Add Unit</a>
                                                    <a href="/addSector" class="dropdown-item">Add Sector</a>
                                                    <a href="/addStudent" class="dropdown-item">Add Student</a>
                                                    <a href="/addTeacher" class="dropdown-item">Add Professor</a>
                                                    <a href="/addClasse" class="dropdown-item">Add Classe</a>
                                                    <a href="/addProgramme" class="dropdown-item">Add Programme</a>
                                                    <a href="/addGroupeStudent" class="dropdown-item">Add Groupe</a>
                                                    <a href="/addPresence" class="dropdown-item">Add Presence</a>
                                                    <a href="/addRating" class="dropdown-item">Add Rating</a>
                                                    <a href="/addQuiz" class="dropdown-item">Add Quiz</a>
                                                    <a href="/addQuestion" class="dropdown-item">Add Question</a>
                                                    <a href="/addObjective" class="dropdown-item">Add Objective</a>
                                                    <a href="/addRessource" class="dropdown-item">Add Ressource</a>
                                                    <a href="/addSpecialtie" class="dropdown-item">Add Specialite</a>
                                                    <a href="/addEvent" class="dropdown-item">Add Event</a>
                                                    <a href="/addFeedback" class="dropdown-item">Add Feedback</a>


                                                </div>
                                            </li>
                                            <li class="nav-item dropdown res-dis-nn">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Pages <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                                <div role="menu" class="dropdown-menu animated zoomIn">
                                                    <a href="/allCourse" class="dropdown-item">All Course</a>
                                                    <a href="/allLesson" class="dropdown-item">All Lesson</a>
                                                    <a href="/allUnit" class="dropdown-item">All Unit</a>
                                                    <a href="/allSector" class="dropdown-item">All Sector</a>
                                                    <a href="/allStudent" class="dropdown-item">All Student</a>
                                                    <a href="/allTeacher" class="dropdown-item">All Professor</a>
                                                    <a href="/allClasse" class="dropdown-item">All Classe</a>
                                                    <a href="/allProgramme" class="dropdown-item">All Programme</a>
                                                    <a href="/allGroupeStudent" class="dropdown-item">All Groupe</a>
                                                    <a href="/allPresence" class="dropdown-item">All Presence</a>
                                                    <a href="/allRating" class="dropdown-item">All Rating</a>
                                                    <a href="/allQuiz" class="dropdown-item">All Quiz</a>
                                                    <a href="/allQuestion" class="dropdown-item">All Question</a>
                                                    <a href="/allObjective" class="dropdown-item">All Objective</a>
                                                    <a href="/allRessource" class="dropdown-item">All Ressource</a>
                                                    <a href="/allSpecialtie" class="dropdown-item">All Specialite</a>
                                                    <a href="/allEvent" class="dropdown-item">All Event</a>
                                                    <a href="/allFeedback" class="dropdown-item">All Feedback</a>


                                                </div>
                                            </li>
                                            <li class="nav-item"><a href="#" class="nav-link">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <img src="img/product/pro4.jpg" alt="" />
                                                    <span class="admin-name">Bytes Minds</span>
                                                    <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a>
                                                    </li>
                                                    <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a>
                                                    </li>
                                                    <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn">

                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <h2 class="text-center">Add Feedback</h2>
                        <form id="addFeedbackForm">
                            <div class="form-group">
                                <label for="commentaire">Comment:</label>
                                <input type="text" id="commentaire" name="commentaire" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="auteur">Author:</label>
                                <input type="text" id="auteur" name="auteur" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="destinataire">RECIPIENT:</label>
                                <input type="text" id="destinataire" name="destinataire" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright 2024 Courzelo - Tous droits réservés</p>
                        <p>Made with creativity by Byte Minds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="js/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="js/calendar/moment.min.js"></script>
    <script src="js/calendar/fullcalendar.min.js"></script>
    <script src="js/calendar/fullcalendar-active.js"></script>
    <!-- maskedinput JS
		============================================ -->
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/masking-active.js"></script>
    <!-- datepicker JS
		============================================ -->
    <script src="js/datepicker/jquery-ui.min.js"></script>
    <script src="js/datepicker/datepicker-active.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="js/form-validation/jquery.form.min.js"></script>
    <script src="js/form-validation/jquery.validate.min.js"></script>
    <script src="js/form-validation/form-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="js/dropzone/dropzone.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="js/tawk-chat.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Fonction pour envoyer la requête d'ajout du feedback
        document.getElementById('addFeedbackForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Empêcher l'envoi du formulaire par défaut

            // Récupérer les valeurs du formulaire
            const commentaire = document.getElementById('commentaire').value.trim();
            const auteur = document.getElementById('auteur').value.trim();
            const destinataire = document.getElementById('destinataire').value.trim();

            // Vérifier la longueur des champs
            if (commentaire.length < 4 || auteur.length < 4 || destinataire.length < 4) {
                alert('La longueur des champs  must be at least 4 characters long..');
                return; // Arrêter l'exécution de la fonction
            }

            // Vérifier si les champs sont vides
            if (commentaire === '' || auteur === '' || destinataire === '') {
                alert('Veuillez remplir tous les champs.');
                return; // Arrêter l'exécution de la fonction
            }

            // Créer un objet avec les données du feedback à ajouter
            const feedbackData = {
                commentaire: commentaire,
                auteur: auteur,
                destinataire: destinataire
            };

            // Envoyer la requête POST pour ajouter le feedback
            fetch('/api/feedBacks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(feedbackData)
            })
                .then(response => {
                    if (response.ok) {
                        alert('Feedback ajouté avec succès !');
                        // Redirection vers une autre page ou actualisation de la page après l'ajout
                        window.location.href = '/allFeedback';
                    } else {
                        throw new Error('Échec de l\'ajout du feedback.');
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de l\'ajout du feedback :', error);
                    alert('Une erreur s\'est produite lors de l\'ajout du feedback. Veuillez réessayer plus tard.');
                });
        });
    });
</script>






</body>

</html>